*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.swp
*.tag
*~
*.prof
*.aux
*.hp
*.eventlog
*_flymake.hs
*.imports
/*.iml
TAGS
tags

*.org


.stack-work/
dist
dist-*
cabal-dev
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.HTF/
